{% extends 'base.html' %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% include 'components/page_intro.html' %}

<!-- Testing purpose button below for modal -->
<div class="mb-5">
    <button type="button" class="mb-5 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        Launch demo modal
    </button>
</div>

<!-- Detail Start -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-9">
            <div class="d-flex flex-column text-left mb-4">
                <!-- <h5 class="text-primary mb-3">Blog Detail</h5> -->
                <h1 class="mb-3">{{page.title}}</h1>
                <div class="d-index-flex mb-2">
                    <!-- <span class="mr-3"><i class="fa fa-user text-primary"></i> Admin</span>
                        <span class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</span> -->
                    <h5 class="mb-4">{{page.short_description}}</h5>
                    <i class="fa fa-comments text-primary"></i><span class="disqus-comment-count"
                        data-disqus-identifier="{{page.slug}}"></span>
                </div>
            </div>
            <!-- This is where the blog content goes paras and images that i need to richtext iterate -->

            <div class="mb-5">
                {% for component in page.component %}

                {% if component.block.name == 'section' %}
                {% with thing=component.value %}

                <h2 class="mb-4">{{thing.header}}</h2>
                <!-- <img class="img-thumbnail p-3 w-50 float-left mr-4 mb-3" src="img/blog-1.jpg" alt="Image"> -->
                {% if thing.image_position == "L" %}
                    {% image thing.image fill-500x500 class="img-thumbnail p-3 w-50 float-left mr-4 mb-3" alt="thing.image.title" %}
                {% elif thing.image_position == 'R' %}
                    {% image thing.image fill-500x500 class="img-thumbnail p-3 w-50 float-right ml-4 mb-3" alt="thing.image.title" %}
                {% else %}
                    {% image thing.image fill-700x500 class="img-thumbnail mb-4 p-3" alt="page.card_image.title" %}
                {% endif %}

                {{thing.body|richtext}}


                {% endwith %}
                {% endif %}

                {% endfor %}

            </div>


            <!-- <div class="media bg-primary text-white mb-5 p-4 p-md-5">
                <img src="img/user.jpg" alt="Image" class="img-thumbnail p-3 mr-4 mt-1 bg-primary" style="width:100px;">
                <div class="media-body">
                    <h5 class="mb-3">John Doe</h5>
                    <p class="m-0">Conset elitr erat vero sanctus labore dolor ipsum et diam, tempor dolores eos dolor
                        conset lorem ipsum, ipsum accusam ipsum sit no ut est. Guber ea ipsum erat conset magna kasd
                        amet est magna elitr ea sit justo sed sanctus.</p>
                </div>
            </div> -->

            <div class="mb-5">
                <div id="disqus_thread"></div>
            </div>

            

        </div>

        <div class="col-lg-3 mt-5 mt-lg-0">
            <!-- <div class="mb-5">
                    <img src="img/blog-1.jpg" alt="" class="img-thumbnail p-3">
                </div> -->
            <div class="mb-5">
                <h4 class="mb-4">Other Blogs</h4>
                {% for blog in page.get_siblings %}
                {% if blog.url != page.url %}
                <a href="{{blog.url}}" class="d-flex align-items-center border-bottom mb-3 pb-3">
                    {% image blog.specific.header_image fill-1000x800 class="img-thumbnail p-2" alt="blog.specific.header_image.title" style="width: 80px; height: 80px;" %}
                    <!-- <img class="img-thumbnail p-2" src="img/blog-1.jpg" style="width: 80px; height: 80px;" alt=""> -->
                    <div class="d-flex flex-column pl-3">
                        <div class="font-weight-bold text-secondary mb-2">{{blog.title}}</div>
                        <div class="d-flex">
                            <!-- <small href="{{blog.full_url}}#disqus_thread" class="mr-3"># Comments</small> -->
                            <i class="fa fa-comments text-primary"></i><span class="disqus-comment-count"
                                data-disqus-identifier="{{blog.slug}}"></span>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
                <!-- <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-thumbnail p-2" src="img/blog-2.jpg" style="width: 80px; height: 80px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="font-weight-bold text-secondary mb-2" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                            <div class="d-flex">
                                <small class="mr-3"><i class="fa fa-user text-muted"></i> Admin</small>
                                <small class="mr-3"><i class="fa fa-folder text-muted"></i> Web Design</small>
                                <small class="mr-3"><i class="fa fa-comments text-muted"></i> 15</small>
                            </div>
                        </div>
                    </div> -->
            </div>


            <!-- Carousel Start -->
            
            <div id="carouselId" class="carousel slide" data-bs-ride="carousel" style="font-size:smaller; position: sticky; top: 100px;">
                <h4 class="mb-4">Advertisement</h4>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item no-background active">
                        <div class="blog-item">
                            <img src="{% static 'img/blog-1.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                            <div class="rounded-bottom bg-light">
                                <!-- <div class="d-flex justify-content-between p-4 pb-2">
                                    <span class="pe-2 text-dark"><i class="fa fa-user me-2"></i>By Admin</span>
                                    <span class="text-dark"><i class="fas fa-calendar-alt me-2"></i>10 Feb, 2023</span>
                                </div> -->
                                <div class="px-4 pb-0" style="padding-top: 10px;">
                                    <h6>How To Build A Cleaning Plan</h6>
                                    <p>Lorem ipsum dolor sit amet consectur adip sed eiusmod tempor.</p>
                                </div>                    
                                <div class="p-4 py-2 d-flex justify-content-between bg-primary rounded-bottom blog-btn"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item no-background">
                        <div class="blog-item">
                            <img src="{% static 'img/blog-1.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                            <div class="rounded-bottom bg-light">
                                <!-- <div class="d-flex justify-content-between p-4 pb-2">
                                    <span class="pe-2 text-dark"><i class="fa fa-user me-2"></i>By Admin</span>
                                    <span class="text-dark"><i class="fas fa-calendar-alt me-2"></i>10 Feb, 2023</span>
                                </div> -->
                                <div class="px-4 pb-0" style="padding-top: 10px;">
                                    <h6>How To Build A Cleaning Plan</h6>
                                    <p>Lorem ipsum dolor sit amet consectur adip sed eiusmod tempor.</p>
                                </div>                    
                                <div class="p-4 py-2 d-flex justify-content-between bg-primary rounded-bottom blog-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-next ads" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
            <!-- Carousel End -->


            


        </div>
    </div>
</div>
<!-- Detail End -->

{% endblock %}


{% block extra_js %}
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

    var disqus_config = function () {
        this.page.url = "{{page.full_url}}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{page.slug}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://symphony-2.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })(); 
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}