{% extends 'base.html' %}

{% load wagtailcore_tags  %}



{% block content %}



{% for component in page.components %}

{% if component.block.name == 'banner_carousel' %}

{% include 'components/main_carousel.html' with block=component.value %}

{% elif component.block.name == 'about_us' %}

{% include 'components/info-1.html' with block=component.value %}

{% elif component.block.name == 'page_intro' %}

{% include 'components/page_intro.html' %}

{% elif component.block.name == 'blog_section' %}

{% include 'components/blog-cards.html' with block=component.value %}

{% endif %}



{% endfor %}


{% endblock %}