{% load wagtailcore_tags wagtailimages_tags %}

<div id="carouselId" class="carousel slide" data-bs-ride="carousel" style="font-size:smaller; position: sticky; top: 100px;">

    <div class="carousel-inner" role="listbox">
        {% for ad in ads %}
        <div class="carousel-item no-background {% if forloop.first %}active{% endif %}">
            <a data-bs-toggle="modal" href="#exampleModal{{ad.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="blog-item">
                    {% image ad.photo max-500x500 class="img-fluid w-100 rounded-top" alt="{{ad.photo.title}}" %}
                    <div class="rounded-bottom bg-light">
                        <div class="px-4 pb-0" style="padding-top: 10px;">
                            <h6>{{ad.title}}</h6>
                            <p style=" 
                                height: 60px;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 3;
                                color: #787878;">{{ad.description}}
                            </p>
                        </div>
                        <div class="p-4 py-2 d-flex justify-content-between bg-primary rounded-bottom blog-btn"></div>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        Post Your Ad
        {% endfor %}
    </div>
    <button class="carousel-control-prev ads" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next ads" type="button" data-bs-target="#carouselId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>