<!-- Navbar Start -->

{% load wagtailcore_tags  %}

<div class="container-fluid bg-primary pt-2" style="
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 2px solid cyan;
    ">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
            <a href="#" class="navbar-brand">Your Brand Name</a>
            <button class="navbar-toggler" type="button" disabled>  <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a href="#" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">About Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Web Design</a></li>
                    <li><a class="dropdown-item" href="#">App Development</a></li>
                    <li><a class="dropdown-item" href="#">SEO</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
</div>
<!-- Navbar End -->
