{% load static wagtailcore_tags wagtailimages_tags %}

<!-- Services Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
            <div class="sub-style">
                <h4 class="sub-title px-3 mb-0">{{block.pre_header}}</h4>
            </div>
            <h1 class="display-3 mb-4">{{block.header}}</h1>
            <p class="mb-0">{{block.sub_header}}</p>
        </div>
        <div class="row g-4 justify-content-center">

            <!-- for loop for looping through child blog page -->

            {% for blog in child_blogs.specific %}
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.{{forloop.counter0}}s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <!-- <img src="{{card.card_image.url}}" class="img-fluid rounded-top w-100" alt=""> -->
                        {% image blog.card_image fill-1000x800 class="img-fluid rounded-top w-100" alt="blog.card_image.title" %}
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4" onclick="location.href='{{blog.url}}';" style="cursor: pointer; height: 250px;">
                        <div class="service-content-inner">
                            <h5 class="mb-4">{{blog.title}}</h5>
                            <p class="mb-4">{{blog.card_description}}</p>
                            <div style="">
                                <i class="fa fa-comments text-primary"></i><span class="disqus-comment-count" data-disqus-identifier="{{blog.slug}}"></span>
                            </div>
                        </div>
                        </div>
                    </div>  
                </div>
            {% endfor %}

                <!-- <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">More Blog</a>
                </div> -->
        </div>
    </div>
</div>



<!-- Services End -->