{% load static wagtailcore_tags wagtailimages_tags %}

<!-- Carousel Start -->
<div class="container-fluid px-0">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
        </ol> -->
        <div class="carousel-inner" role="listbox">
            {% for slide in block.slides %}
            <div class="carousel-item home {% if forloop.first %}active{% endif %}">
                {% image slide.slide_image fill-1700x800 class="img-fluid" style="width:100%; height:600px" %}
                <div class="carousel-caption">
                    <div class="container carousel-content">
                        <h6 class="text-secondary h4 animated fadeInUp">{{page.title}}</h6>
                        <h1 class="text-white display-1 mb-4 animated fadeInRight">{{slide.slide_header}}</h1>
                        <p class="mb-4 text-white fs-5 animated fadeInDown">{{slide.slide_subheader}}</p>
                        <!-- <a href="" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Read More</button></a> -->
                        {% if slide.slide_redirect_link %}
                        <a href="{{slide.slide_redirect_link.url}}" class="ms-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">{{slide.slide_redirect_link.title}}</button></a>
                        {% endif %}
                        <!-- <div style="width: max-content;"></div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->