{% load static wagtailcore_tags wagtailimages_tags %}

<!-- Modal -->

{% for ad in ads %}

<div class="modal fade" id="exampleModal{{ad.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-body py-0">

                <div class="d-flex main-content">

                    {% image ad.photo min-500x350 class="mr-3" style="width:50%;" %}

                    <div class="container text-center">
                        <div class="row mt-3 mb-3">
                            <div class="col">
                                <h2 style="font-size: 1.8em;">{{ad.title}}</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p style="font-weight: bold;">
                                    <i class="fas fa-quote-right"></i> {{ad.description}} <i class="fas fa-quote-right"></i>
                                </p>
                            </div>
                            <div class="col">
                                <div>
                                    <i class="fas fa-calendar icon"></i><br>{{ad.dayF}} - {{ad.dayT}}
                                </div>
                                <div>
                                    <i class="fas fa-clock time-icon"></i><br>{{ad.open_time}} - {{ad.close_time}}
                                </div>
                                <div>
                                    <a href="{{ad.website}}" target="_blank"><i class="fas fa-globe"></i><br>
                                        Visit
                                    </a>
                                </div>
                                <div>
                                    <a href="tel:{{ad.phone}}"><i class="fas fa-phone"></i><br>{{ad.phone}}</a>
                                </div>
                                <div>
                                    <a href="mailto:{{ad.email}}"><i class="fas fa-envelope"></i><br>
                                    {{ad.email}}</a>
                                </div>
                            </div>
                        </div>
                        </div>
                    
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{% endfor %}